<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:replace="head.html :: head"></nav>
<body>
<nav th:replace="header.html :: header"></nav>
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
				<div class="container">
					<div class="banner_content text-center">
						<h2>Вход / Регистрация</h2>
						<div class="page_link">
							<a th:href="@{index.html}">Главная</a>
							<a th:href="@{login.html}">Войти</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Login Box Area =================-->
        <section class="login_box_area p_120">
        	<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="login_box_img">
							<img class="img-fluid" th:src="@{img/login.jpg}" alt="">
							<div class="hover">
								<h4>Новенький?</h4>
								<a class="main_btn" th:href="@{/registration}">Создать аккаунт</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="login_form_inner">
							<h3>Введите данные для входа</h3>
							<form class="row login_form" th:action="@{/login}" method="POST" id="contactForm" novalidate="novalidate">
								<div class="col-md-12 form-group">
									<input type="text" class="form-control" name="login" placeholder="Логин">
								</div>
								<div class="col-md-12 form-group">
									<input type="text" class="form-control" name="password" placeholder="Пароль">
								</div>
								<div class="col-md-12 form-group">
									<button type="submit" value="submit" class="btn submit_btn">Войти</button>
								</div>
							</form>
						</div>
					</div>
				</div>
        	</div>
        </section>
        <!--================End Login Box Area =================-->
	<nav th:replace="footer.html :: footer"></nav>
    </body>
</html>